@model Trip_booking.Models.Trips

@{
    ViewBag.Title = "CreateTrip";
}

<h2>CreateTrip</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Trips</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Trip_Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Trip_Name)
            @Html.ValidationMessageFor(model => model.Trip_Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LegID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LegID)
            @Html.ValidationMessageFor(model => model.LegID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Start_Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Start_Date)
            @Html.ValidationMessageFor(model => model.Start_Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Finish_Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Finish_Date)
            @Html.ValidationMessageFor(model => model.Finish_Date)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
